.header {
  width: 100vw;
  padding: 10px 20px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header__title {
  display: none;
  font-size: 2rem;
}

.header__language {
  min-widh: 200px;
}

.language__button {
  margin: 0px 10px;
}

@media (min-width: 480px) {
  .header {
    justify-content: space-between;
  }

  .header__title {
    display: initial;
  }
}
